@import url('https://fonts.googleapis.com/css2?family=Anton&family=Prompt:wght@100&display=swap');

body{
    
    background-image: url(imagenes/fondo3.jpg);
    /*background-color: goldenrod;*/
    background-size: 100vw 100vh;
    background-attachment: fixed;
    
}

.encabezado {
    
    margin: auto;
    font-family: 'Prompt', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
}
/*#requeridos{
    
    box-shadow: 5px 2px 5px aqua inset;
    font-style: italic;
    
}*/
.contenedor{
    display: flex;
    width: 850px;
    height: 400px;
    /*background-color: firebrick;*/
    background: linear-gradient(45deg,firebrick 70%,antiquewhite);
    margin: auto;
    box-shadow: 2px 2px 3px 5px white;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
.contenedor .sec-izq{
    width: 50%;
    height: 100%;
  
   
}

.contenedor .sec-der{
    width: 50%;
    height: 100%;
    
    
    
}

.sec-nombre{
    display: flex;
    flex-direction: row;
    height: 150px;
}



.sec-nombre *,.sec-fecha *, .sec-other *,.genero {
    border-radius: 10px;
    font-weight: 800;
    
}

.genero{
  /*  padding: 2px 15px;*/
    width: 90%;
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
#radio-hombre{
    margin: 0px;
    
}
.mujer{
    padding: 0 20px;
}
input, select{
    text-align: center;
}

input[type="text"],select{
    width: 200px;
    height: 25px;
    
    font-size: 12px;
    box-shadow: 5px 2px 10px aqua;
    
}
#enti{
    
    height: 30px;
    
}
.botones{
   
    width: 100%;
   
    padding: 0px 15px;
    display: flex;
    justify-content: center;
}
#submit{
     display: inline-flex;
    margin-top: 20px;
    width: 100px;
    margin-right: 30px;
    border-radius: 10px;
    border: 3px aqua;
    border-style: solid double; 
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    
    justify-content: center;
}
#submit:hover{
    transition: all .5s ease 0.4s;
    transform: scale(1.5) rotateY(360deg);
    
    color: forestgreen;
    border: 3px red;
    border-style: solid double; 
}

form{
    width: 950px;
    margin: auto;
    background: rgba(0,0,0,0.45);
    padding: 40px 30px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: white 5px 5px 10px inset;
    
}

h2{
    color: white;
    margin: 0;
    font-size: 40px;
    text-align: center;
    text-shadow: black 3px 3px 5px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Prompt', sans-serif;
    border-radius: 35px;
    box-shadow: white 5px 5px 10px;
    letter-spacing: 3px;
    background: rgba(0,0,0,0.35);
    
}

.input-nombre{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label-nombre{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 20px;
    
}

.sec-fecha{
    height: 150px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    
}
.label-fecha{
    
    width: 30%;
    margin-right: 25px;
}
.label-fecha label{
    
}
.select-option{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.sec-other{
    
    height: 95px;
    display: flex;
    /*justify-content: space-between;*/
}
.label-other{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.select-other{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.sec-der .icono{
    
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url(imagenes/fondo1.jpg);
    margin-top: 20px;
    border-radius: 50%;
    
}