*{
    
    margin: 0px;
    padding: 0px;
    
    
}

body{
    
    
    background-color: aqua;
    
}

h1{
    text-align: center;
    
}
.contenedor{
    width: 800px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    background: rgba(1,0,0,0.5);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: center;
    
    */
    border-radius: 50px;
}
table{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-spacing: 8px;
    
    
}
tr{
    
    
    
}
 td{
    
    border: 2px solid black;
    
    
}

td{
    width: 35px;
    text-align: center;
    
    
}
.imagenes{
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
}
img{
    
    width: 120px;
     height: 120px;
    vertical-align: top;
   
}
.img1{
     border-radius: 50%;   
    
}

.footer{
    width: 100%;
    height: 200px;
    display: block;
}
.botones{
    display: flex;
    justify-content: center;
    
    
}
button{
    margin-top: 100px;
    border-radius: 10px;
    background-color: greenyellow;
    font-family: "calibri";
    font-size: 15px;
    font-weight: 800;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
button:hover{
    
    
}

.redes{
    margin-top: 50px;
    
    
}
.iconos{
    
    display: flex;
    justify-content: center;
    
    
}
.redes [class^="icon-"]{
    
    text-decoration: none;
    color: black;
    margin-right: 15px;
    
    
}